<h2>As it turns out...</h2>
<h4>The word appears <%= @word_count %> <%= @time %> in your sentence!</h4>
<form action="/">
  <button type ="submit" class="btn btn-primary btn-sm btn-block">Lets Try Again!</button>
</form>
